<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Rooms</title>
</head>
<body>
    <div class="container">
        <form action="/admin-rooms" method="POST">
            <div class="form-group">
                <label for="floorNumber"><b>floor-number</b></label>
                <input type="floorNumber" placeholder="Enter floor number" id="floorNumber" name="floorNumber" required>
            </div>
            <div class="form-group">
                <label for="roomNumber"><b>Room number</b></label>
                <input type="roomNumber" placeholder="Enter Room Number" id="roomNumber" name="roomNumber" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>