<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="indexStyle.css">
    
    <title>BCIT Study Room Scheduler</title>    
</head>
<body>

    <div class="container">
        <div class="times">
            <% for (i in times) { %>
                <div><%=times[i].time%></div>
            <% } %>
        </div>
        <div class="roomOne">
            <div class="roomNumber"><%=rooms[0].number%></div>
            <% for (i in bookings) { %>
                <% if (bookings[i].roomNumber === rooms[0].number) { %> 
                    <div class="booked">Booked</div>
                <% } %>
            <% } %>
        </div>
        <div class="roomTwo">
            <div class="roomNumber"><%=rooms[1].number%></div>
            <% for (i in bookings) { %>
                <% if (bookings[i].roomNumber === rooms[1].number) { %> 
                    <div class="booked">Booked</div>
                <% } %>
            <% } %>
        </div>
        <div class="roomThree">
            <div class="roomNumber"><%=rooms[2].number%></div>
            <% for (i in bookings) { %>
                <% if (bookings[i].roomNumber === rooms[2].number) { %> 
                    <div class="booked">Booked</div>
                <% } %>
            <% } %>
        </div>



        
        <div class="bookings">

        </div>
    </div>    





    <!-- <div id="header">
        <button id="today" type="button">Today</button>
        <button id="month" type="button">Month</button>
        <button id="week" type="button">Week</button>
    </div> -->
    <!-- <div id="date"></div>
    <div id="day-view"></div>
    <div id="app-calendar"></div> -->
    <!-- <script type="module" src="calendar.js"></script> -->
</body>
</html>
