<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landingStyle.css">
    <title>BCIT Study Room Scheduler Landing Page</title>
</head>

<body>
    <div class="landing-page">

        <div class="heading">
            <img class="logo" src="../BCIT_logo.png" alt="bcit logo">
            <h1 id="description">Tech Hub Booking System</h1>
            <h1 id="loginDes">Login</h1>
        </div>

        <form action="/auth/login/local" method="POST">
            <div class="container">
                <!-- <label for="uname"><b>Username</b></label> -->
          
                    <span id="emailspan"> Email: </span>
                    <input type="email" placeholder="Enter Email" id="email" name="email" onkeyup="check(this)"
                        required>
               

                <!-- <label for="psw"><b>Password</b></label> -->
               
                    <span id="pwspan">Password: </span>
                    <input type="password" placeholder="Enter Password" name="password" id="pwInp" onkeyup="check(this)"
                        required>
                

                    <button id="login-btn" type="submit">Login</button>
                

                <!-- <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label> -->
            </div>
            <div>
                <strong id="loginPopupMessage" class="popupMsg">
                    <em>
                        <%=message%>
                    </em>
                </strong>
            </div>
            <div class="fourth">
                <div class=" btns" style="background-color:#f1f1f1">
                    <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
                    <a href="/auth/login" id="login">Login With Google Account</a>
                    <a href="/auth/register" id="login">Register</a>
                </div>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    // Error Message popup disappears when you enter text in email/password inputs

    function check(elem) {
        if (elem.value.length > 0) {
            closeHelpDiv()
        }
    }
    function closeHelpDiv() {
        document.getElementById("loginPopupMessage").style.display = " none";
    }
</script>

</html>