<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landingStyle.css">
    <title>Register Page</title>
</head>
<body>
   <div class="landing-page">
       
       <form action="/auth/register" method="POST">
            <div class="container">
                <!-- <label for="uname"><b>Username</b></label> -->
                <input type="name" placeholder="Enter Name" id="name" name="name" onkeyup="check(this)" required>
                <input type="email" placeholder="Enter Email" id="email" name="email" onkeyup="check(this)" required>
        
                <!-- <label for="psw"><b>Password</b></label> -->
                <input type="password" placeholder="Enter Password" name="password" id="pwInp" onkeyup="check(this)" required>
        
                <button type="submit">Register</button>
            </div>
            <div>
                <strong id="rgstrPopupMessage" class="popupMsg">
                    <em><%=message%></em>
                </strong>
            </div>
      </form>
    </div>
</body>
<script type="text/javascript">
    // Error Message popup disappears when you enter text in email/password inputs

    function check(elem) {
        if(elem.value.length > 0){
            closeHelpDiv()
        }
    }
    function closeHelpDiv(){
    document.getElementById("rgstrPopupMessage").style.display=" none";
    }
</script>
</html>