@import url('https://fonts.googleapis.com/css2?family=Saira&family=Sedgwick+Ave&display=swap');
body{
    padding: 30px;
    font-family: 'Saira', sans-serif;
}


/* parent div */
.wrapper{
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "logoGrid     date  "
                         "container map"
                         "container map"
                         "container color2";
    grid-gap: 5px;
}

/* calendar view */
.container{
    width: 90%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "time roomOne roomTwo roomThree ";
    padding-left: 30px;
    padding-top: 30px;
    grid-area: container;
}
.times {
    display: grid;
    grid-area: time;
    border: 1px solid black;
}   

.roomOne {
    display: grid;
    grid-area: roomOne;
    border: 1px solid black;

}
.roomTwo {
    display: grid;
    grid-area: roomTwo;
    border: 1px solid black;

}
.roomThree {
    display: grid;
    grid-area: roomThree;
    border: 1px solid black;

}
.roomFour {
    display: grid;
    grid-area: roomFour;
}
.roomFive {
    display: grid;
    grid-area: roomFive;
}
.roomNumber {
    text-align: center;
    border-bottom: 1px solid black;
}
.booked {
    text-align: center;
    border: 1px solid black;
    margin: 2px;
    background-color: navy;
    color: white;
}
.free {
    text-align: center;
    border: 1px solid black;
    margin: 2px;
}
.timeTwo {
    text-align: center;
    border: 1px solid black;
    margin: 2px;
}
.timeHeader {
    text-align: center;
    border-bottom: 1px solid #000;
}
.bookings {
    display: grid;
}

/* header top right  */
#todayDate{
    display:grid;
    padding: 30px;
    font-size: 1.5em;
    grid-template-columns: 90% 10%;
    grid-template-areas: "date logout";
    grid-area: date;
}
#logout{
    display:grid;
    height: 30%;
    text-align: center;
    padding: 5%;

    grid-area: logout;
}

/* header top left */
.logoGrid{
    display: grid;
    grid-template-columns:31.5% 31.5% 31.5%;
    grid-template-rows: 90% 20%;
    grid-template-areas: 'bcit para .'
                         'today week month';
    padding-left: 30px;
    grid-area: logoGrid;
}
#logo{
    width: 80px;
    height: 80px;
    grid-area: bcit;
}
#logodiv{
    display:grid;
    width: 120px;
    height: 120px;
}
#para{
    display: grid;
    grid-area: para;
    padding: 10px;
    font-size: 1.5em;
}

/* view buttons */
#todayBut{
    grid-area: today;
    font-family: 'Saira', sans-serif;

}
#weekBut{
    grid-area: week;
    font-family: 'Saira', sans-serif;
 
}
#monthBut{
    grid-area: month;
    font-family: 'Saira', sans-serif;
  
}
.viewButton{
    margin: 2px;

}

/* map view */
#map{
    width: 100%;
    height: 100%;
    grid-area: map;
}
#color2{
   
    color:black;
    height: 100px;
    grid-area: color2;
    padding: 10px;
}
#name {
    margin: 10px;
}
#roomNumber{
    margin: 10px;
}
#time{
    margin: 10px;
}
#length{
    margin: 10px;
}
#submit-btn{
    color: white;
    background-color:#003C71 ;
    border: none;
    padding:10px;
    cursor: pointer;
    border-radius: 5px;
    border: grey 1px solid;
    font-family: 'Saira', sans-serif;
    font: 20px;
    width:20%;
}
#submit-btn:hover{
    background-color: #1B9CE2;
    color:white;
  }


/* test */